<body>
    <div *ngIf="error" class="alert alert-danger" role="alert">{{error}}</div>
    <div class="container">
        <div class="text-center">
            <div class="login-box">
                <div class="credentials-side">
                    <div class="title-div">
                        <span>Gamer Lobby</span>
                    </div>
                    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()"> 
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" ngModel>
                            <!--<div *ngIf="fval.email.errors.required">Email is required</div>
                            <div *ngIf="fval.email.errors.email">Enter valid email address</div>-->
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ngModel>
                            <!--<div *ngIf="submitted && fval.password.errors" class="invalid-feedback">Invalid password</div>
                            <div *ngIf="fval.password.errors.required">Password is required</div>-->
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <button type="submit" class="btn btn-danger" routerLink="">Cancel</button>
                </div>
                <div class="img-side">
                    <img class="login-img" src="../../assets/img/login-img.jpg">
                </div>
            </div>
        </div>
    </div>
    </body>
    
