<div class="heading">
    <div class="text-center">
        <span>Gamer Lobby</span>
    </div>
    <div class="text-center">
        <button class="btn btn-warning" (click)="logout()">Log-Out</button>
        <img class="login-icon" src="../assets/img/login-icon.png" height="20vw" width="25vw"> 
    </div>
</div>
<button class="btn btn-success addp-btn" routerLink="addPlayer">Add new player</button>
<input class="searchInput form-control" [(ngModel)]="searchText" placeholder="Search Text">
<div class="navbar">
    <button class="player-section selected-section">Players</button>
    <button class="game-section" routerLink="games" >Games</button>
</div>
<div class="container">
    <table class="table-dark">
        <thead class="thead-light">
            <th scope="col">Player</th>
            <th scope="col">Rank</th>
            <th scope="col">Score</th>
            <th scope="col">Time</th>
            <th scope="col">Games Played</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
        <tbody>
            <tr *ngFor="let player of players | searchPipe:searchText">
                <td>{{ player.Player }}</td>
                <td>{{ player.Rank }}</td>
                <td>{{ player.Score }}</td>
                <td>{{ player.Time }}</td>
                <td>{{ player.Games_Played }}</td>
                <td>{{ player.Status }}</td>
                <td><button value="{{player._id}}" [routerLink]="['update',player._id]" class="func-btn btn btn-warning">Update</button></td>
                <td><button value="{{player._id}}" (click)="delete($event)" class="func-btn btn btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
</div>


